div {
  font-family: sans-serif;
}

.app-news-form {
  background-color: red;
}

.mat-toolbar-row {
  margin-bottom: 6px;
  -webkit-box-shadow: 6px 10px 21px -19px rgba(120, 120, 120, 1);
  -moz-box-shadow: 6px 10px 21px -19px rgba(120, 120, 120, 1);
  box-shadow: 6px 10px 21px -19px rgba(120, 120, 120, 1);
}
