<div style="background-color: inherit">
  <div>
    <div>
      <div fxLayout="column">
        <div
          class="content"
          fxLayout="column"
          fxLayoutAlign=""
          [style]="mediaQuery.matches ? 'padding: 12vh' : 'padding: 0vh'"
        >
          <form
            (ngSubmit)="onSubmit()"
            fxLayout="row"
            ngDefaultControl
            fxLayoutAlign="center "
          >
            <input
              name="title"
              [(ngModel)]="news.keywords"
              style="width: 40%"
              placeholder="Título ou palavras-chave da notícia"
              required
            />

            <button type="submit" style="margin-top: 5px" mat-raised-button>
              Checar
            </button>
          </form>
        </div>
        <div
          [style]="isSubmited ? 'display: none' : 'display: block'"
          style="text-align: center"
        >
          <p style="color: rgb(49, 47, 47)">
            Digite o título ou palavras-chave de uma <br />manchete para checar
            se é verdadeira
          </p>
        </div>
        <div fxLayout="column" class="result">
          @if(result$ | async; as result ){
          <app-check-card [result]="result"></app-check-card>
          <!-- <span style="text-align: center">Resultados</span>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div
              fxLayout="row wrap"
              fxLayoutGap="10px"
              class="result-container"
            >
              <mat-card
                appearance="outlined"
                *ngFor="let source of result.checkingSources"
                ngClass="card"
              >
                <mat-card-content fxLayout="column">
                  <div>
                    {{ source.sourceSite }}
                  </div>
                  <div>
                    <a href="{{ source.link }}" class="check-link">
                      <mat-icon>open_in_new</mat-icon>
                    </a>
                  </div>
                </mat-card-content>
                <mat-chip-set aria-label="Classificação" ngClass="set-chips">
                  <mat-chip class="chipo">
                    <span [ngClass]="checkVeridictColors(source.veridict)">
                      {{ source.veridict }}
                    </span>
                  </mat-chip>
                </mat-chip-set>
              </mat-card>
            </div> -->
          <!-- </div> -->
          } @else{

          <div
            [style]="
              isLoading ? 'display: block; text-align: center' : 'display:none'
            "
          >
            <span style="color: rgb(83, 83, 83)">Carregando Resultados...</span>
          </div>
          }
        </div>

        <mat-grid-list cols="3" rowHeight="200px">
          @if (result$| async; as result){ @if(result.checkingSources.length){

          <span style="text-align: center; display: block; margin: 10px"
            >Relacionados</span
          >
          <br />
          <div
            *ngFor="let source of result.checkingSources"
            fxLayout="row"
            fxLayoutGap="10px"
            class="related-cards"
            fxLayoutAlign="center"
          >
            <mat-grid-tile
              appearance="outlined"
              *ngFor="let headline of source.relatedHeadlines"
              ngClass="card"
              style="max-width: 100%"
            >
              <p>{{ headline }}</p>
              <p></p>
              <mat-grid-tile-footer
                style="
                  background-color: white;
                  color: black;
                  padding: 0px;
                  color: rgb(116, 115, 115);
                "
                >{{ source.sourceSite }}</mat-grid-tile-footer
              >
            </mat-grid-tile>
          </div>
          } }
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
